<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Controller.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ProfController</servlet-name>
        <servlet-class>Controller.ProfController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OccuperController</servlet-name>
        <servlet-class>Controller.OccuperController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeSalle</servlet-name>
        <servlet-class>salle.servlets.ListeSalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutSalleServlet</servlet-name>
        <servlet-class>salle.servlets.AjoutSalleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutProfServlet</servlet-name>
        <servlet-class>prof.servlets.AjoutProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeProfServlet</servlet-name>
        <servlet-class>prof.servlets.ListeProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutOccuperServlet</servlet-name>
        <servlet-class>occuper.servlets.AjoutOccuperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeOccuperServlet</servlet-name>
        <servlet-class>occuper.servlets.ListeOccuperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationOccuper</servlet-name>
        <servlet-class>occuper.servlets.ModificationOccuper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerOccuper</servlet-name>
        <servlet-class>occuper.servlets.SupprimerOccuper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OccuperTable</servlet-name>
        <servlet-class>occuper.servlets.OccuperTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalServlet</servlet-name>
        <servlet-class>occuper.servlets.TotalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfController</servlet-name>
        <url-pattern>/Professeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OccuperController</servlet-name>
        <url-pattern>/Occuper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeSalle</servlet-name>
        <url-pattern>/salle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutSalleServlet</servlet-name>
        <url-pattern>/salle/ajout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutProfServlet</servlet-name>
        <url-pattern>/prof/ajout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProfServlet</servlet-name>
        <url-pattern>/prof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutOccuperServlet</servlet-name>
        <url-pattern>/occuper/ajout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeOccuperServlet</servlet-name>
        <url-pattern>/occuper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationOccuper</servlet-name>
        <url-pattern>/occuper/modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerOccuper</servlet-name>
        <url-pattern>/occuper/supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OccuperTable</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalServlet</servlet-name>
        <url-pattern>/TotalServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
